body,
html {
    overflow-x: hidden;
    overflow-y: auto;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 15px 20px;
    position: relative;
    text-align: center;
}

.title-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    background-color: #f5f5f5;
    padding-bottom: 10%;
}

.filter-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    align-items: center; /* Vertically center items in each cell */
    margin-bottom: 20px; /* Space between the filter container and other elements */
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    background-color: #f5f5f5;
}

.login-button {
    background-color: #ff5200;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    margin-top: -5%;
}

.login-button:hover,
.logout-button:hover {
    background-color: #e04800;
}

.logout-button {
    position: absolute;
    right: 30px;
    background-color: #ff5200;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #e04800;
}

.process-logs-button {
    position: absolute;
    left: 30px;
    background-color: #2d9746;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.process-logs-button:hover {
    background-color: #267d3a;
}

.back-button {
    position: absolute;
    left: 30px;
    padding: 10px 20px;
    cursor: pointer;
}

.welcome {
    margin: 1%;
}

.friendly {
    color: white;
    font-weight: bold;
    background-color: #2d9746;
    border-radius: 15px;
}

.friendly:hover {
    background-color: #267d3a;
}

.friendly.show {
    margin-top: 30px;
}

.friendly.submit {
    font-size: 12px;
    border-radius: 12px;
    padding: 5px 10px;
}

form {
    margin-bottom: 1%;
}

table {
    margin-top: 30px;
    width: 90%;
}

th,
td {
    text-align: left;
    padding: 4px;
    border-bottom: 1px solid #ddd;
}

label {
    font-size: 12px;
}

li {
    list-style-type: none;
}

button {
    margin: 5px;
}

input,
select {
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin: 5px;
}

h4 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.menu {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin-top: 50px;
    padding: 20px;
}

.menu-container {
    display: flex;
    justify-content: space-between;
}

.menu-left {
    width: 70%;
}

.menu-right {
    width: 30%;
    padding-right: 5%;
}

.message {
    margin-top: 30px;
    font-weight: bold;
    text-align: center;
}

.menu.error {
    color: #e95760;
    font-weight: bold;
    text-align: center;
}

.menu-title {
    font-size: 26px;
    color: black;
    text-align: center;
    font-weight: bold;
}

.menu-input {
    padding: 5px;
    border-radius: 5px;
    border: 2px;
    margin-right: 5px;
    background-color: #f5f5f5;
}

.item-name {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
}

.center {
    margin-left: 30%;
}

.menu-item:hover {
    margin-left: -15px;
    padding-left: 15px;
    cursor: pointer;
    color: #ff5200;
    background-color: #ffebea;
    border-radius: 15px;
}

.run-process-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.run-process-button {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
    background-color: #ff5200;
    color: white;
    border-radius: 15px;
}

.run-process-button:hover {
    background-color: #e04800;
}

.run-process-button:disabled {
    cursor: not-allowed;
    opacity: 0.6; /* Optional: To visually indicate that it is disabled */
}

.disabled {
    pointer-events: none;
    color: gray;
    cursor: not-allowed;
}

.email-cell {
    position: relative;
}

.delete-button {
    position: absolute;
    right: 10px;
    top: 50%;
    padding: 0px;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    background: none;
    border: none;
    cursor: pointer;
    color: #e95760;
    margin-right: 20px;
}

.email-cell:hover .delete-button {
    opacity: 1;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    border-radius: 25px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 303px;
}

.modal-buttons {
    display: flex;
    flex-direction: column;
}

.confirm-run {
    margin-top: 30px;
    background-color: #ff5200;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
}

.confirm-run:hover {
    background-color: #e04800;
}

.confirm-delete {
    background-color: #e95760;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
}

.cancel-button {
    background-color: #dfe2e4;
    color: #202325;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 20px;
}

.progress-bar-container {
    width: 50%;
    background-color: white;
    margin-top: 20px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.progress-bar {
    height: 50px;
    background-color: #2d9746;
    width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

.completion-link {
    margin-top: 30px;
    color: #1e4692;
    font-weight: bold;
}

.completion-link:hover {
    color: #ff5200;
    text-decoration: underline;
}

@media (max-width: 1100px) {
    .menu {
        width: 80%; /* Full width on smaller screens */
    }
}

/* Media Queries for Smaller Screens */
@media (max-width: 900px) {
    .title {
        font-size: 20px;
    }

    .login-button,
    .logout-button,
    .friendly,
    .process-logs-button {
        padding: 10px 20px;
        font-size: 16px;
    }

    table {
        width: 90%;
    }

    th,
    td {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .title {
        font-size: 18px;
    }

    .menu h2 {
        font-size: 16px;
    }

    .menu h3 {
        font-size: 12px;
    }

    .login-button,
    .logout-button,
    .friendly,
    .process-logs-button {
        padding: 8px 16px;
        font-size: 12px;
    }

    th,
    td {
        font-size: 12px;
    }
}
