.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: black;
    padding-top: 15px;
    padding-bottom: 15px;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f5;
}

.auth-button {
    background-color: #ff5200;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.login-button:hover {
    background-color: #e04800; /* Darker shade for hover */
}

.welcome {
    padding-bottom: 5%;
}
